#contenedor{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de 2 píxeles de desplazamiento horizontal y vertical, 4 píxeles de desenfoque y color de sombra con transparencia */
    background: #ffffff;
}

.h2{
    margin: 5rem;
}