body {
    background-color: #EEF4F9;
    background-image: url("../img/fondologin.png");
    
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login-container {
    
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#cont {
    background: linear-gradient(to right, #007bff, #0047b3);
    width: 100%;
    padding: 20px;
    color: #fff;
    margin-bottom: 9%;
    border-radius: 4px;
}


